.navigationBox {

  
  width: 255px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-mediumslateblue-200);
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  display: none;
}
.home {
  text-decoration: none;
  width: 90px;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-be-vietnam-pro);
  color: black;
  text-align: start;
  display: grid;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  mix-blend-mode: normal;
  z-index: 1;
}
.navigationBoxParent {
  cursor: pointer;
  border: 1px solid var(--color-whitesmoke-300);
  padding: 100px var(--padding-xl) var(--padding-2xl)
    var(--padding-2xl);
  background-color: var(--color-mediumslateblue-200);
  align-self: stretch;
  border-radius: var(--br-xs);
  flex-direction: row;
  align-items: flex-start;
  
}
.navigationBoxParent:hover {
  background-color: var(--color-mediumslateblue-100);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
}
.dashboard,
.dashboardWrapper,
.navigationBoxParent {
  display: grid;
  justify-content: center;
}
.dashboard {
  text-decoration: none;
  /* width: 90px; */
  position: relative;
  font-weight: 600;
  color: black;
  align-items: center;
  flex-shrink: 0;
  padding-left: 20px;
  padding-right: 20px;
 
}
.dashboardWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-26xl) var(--padding-16xl);
  color: var(--color-silver);
}
.resources {
  color: black;
  position: relative;
  font-weight: 600;
  align-items: center;
  flex-shrink: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.calendar,
.resources,
.resourcesWrapper {
  display: grid;
  justify-content: center;
}
.resourcesWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) var(--padding-26xl) var(--padding-8xl);
}
.calendar {
  text-decoration: none;
  color: black;
  position: relative;
  font-weight: 600;
 
  align-items: center;
  flex-shrink: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.calendarWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) var(--padding-26xl);
}
.calendarWrapper,
.reports,
.reportsWrapper {
  display: grid;
  justify-content: center;
}
.reports {
  color: black;
 
  position: relative;
  font-weight: 600;
  align-items: center;
  flex-shrink: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.reportsWrapper {
 
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-26xl);
  box-sizing: border-box;
}
.study {
  color: black;
  position: relative;
  font-weight: 600;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
.setting,
.studyWrapper {
  display: grid;
  justify-content: center;
  justify-content: center;
}
.studyWrapper {
 
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) var(--padding-26xl);
  box-sizing: border-box;
}
.setting {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  line-height: 16.4px;
  color: black;
  font-weight: 600;
  align-items: center;
  flex-shrink: 0;
 
}

.settingWrapper {

 
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-26xl) var(--padding-16xl);
  box-sizing: border-box;
}
.frameParent {
  border-right: 1px solid var(--color-gray-400);
  transition: 0.5s;
  height: 100%;
  max-width: 200px;
  
  position: relative;
  
}
@media screen and (max-width: 1025px) {
  .frameParent {
    padding-bottom: var(--padding-258xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frameParent {
    /* padding-bottom: var(--padding-161xl); */
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    width:0;
    visibility: hidden;
    box-sizing: border-box;
  }
}
.sidenav a:hover {
  color: #f1f1f1;
}
.navP {
  @include sticky(top 0);
 

  position: sticky;
  display: grid;
  
 
 
  top: 0;


  flex-direction: column;
  justify-content: flex-start;
  padding: 5vh 0 0 0;
 
  gap: var(--gap-8xl);
  text-align: start;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-be-vietnam-pro);
}
.logoutParentWrapper {
  display: grid;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-26xl) var(--padding-16xl);
}
.settings,
.study,
.reports,
.calendar,
.resources,
.dashboard {
  /* justify-content: center; */
  justify-self: center;
  text-align: left;
  text-align: left !important;
}